<h1 class="centro">New user</h1>

<%= render 'form' %>
<% if current_user %>
<div class="contdiv">
	<div class="centrob">
		<%= button_to 'Back', users_path, method: "get", class: 'btn btn-primary' %>
	</div>
</div>
<% end %>