<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
          chart: { renderTo: 'orders_chart', type: 'line' },
          title: { text: 'Elementos por Areas' },
          xAxis: { categories: <%= @areas.map { |x| x.id } %> },
          yAxis: { allowDecimals: false, title: { text: '# elementos' } },
      series: [{
        name: 'Cantidad Elementos',
        type: 'column',
        data: <%= @areas.map { |area| area.elementos.count } %>
      }]
    });
  });
</script>

<div id="mydiv">
  <center>
    <div id="orders_chart" style="width: 960px; height: 500px;">
    </div>
  </center>
  <div class="ocultar">
    <table class="table">
      <thead>
        <tr class="success">
          <th class="centro">Nombre Del Area</th> 
          <th class="centro">Cantidad De Elementos</th>
        </tr>
      </thead>
      <tbody>
        <% @areas.each do |area| %>
        <tr>
          <td><%= area.nombre %></td>
          <td>En Esta Area Hay -> <%= area.elementos.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<table class="pretty">
  <!-- Orders table code here -->
</table>
<a href="/pagina/estadisticas" class="btn btn-primary">Menu Estadisticas</a>


<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.min.js" > </script> 
<script type="text/javascript">

    function PrintElem(elem)
    {
        Popup($(elem).html());
    }

    function Popup(data) 
    {
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title>PPDF Estadisticas Cantidad De Elementos Por Areas</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>


<input type="button" value="Imprimir Estadistica Elementos X Areas" onclick="PrintElem('#mydiv')"  class="btn btn-info" />