<script type="text/javascript" charset="utf-8">
  $(function () {
    new Highcharts.Chart({
          chart: { renderTo: 'orders_chart', type: 'line' },
          title: { text: 'Elementos por Areas' },
          xAxis: { categories: <%= @areas.map { |x| x.id } %> },
          yAxis: { allowDecimals: false, title: { text: '# elementos' } },
      series: [{
        name: 'Cantidad Elementos',
        type: 'column',
        data: <%= @areas.map { |area| area.elementos.count } %>
      }]
    });
  });
</script>


<center><div id="orders_chart" style="width: 960px; height: 500px;"></div></center>

<table class="pretty">
  <!-- Orders table code here -->
</table>
<a href="/pagina/estadisticas" class="btn btn-primary">Menu Estadisticas</a>