<ul class="abanico">
  <li><a href="/pagina/etraspasos">#Traspasos</a></li>
  <li><a href="/pagina/ereintegros">#Reintegros</a></li>
  <li><a href="/pagina/elementosxareas">Elementos_A</a></li>
  <%#<li><a href="/pagina/elementosxcuentadantes">Cantidad_E</a></li>%>
 <li><a href="javascript:void();">Menu</a></li>
</ul>