<%#<ul class="abanico">
  <li><a href="/pagina/etraspasos">#Traspasos</a></li>
  <li><a href="/pagina/ereintegros">#Reintegros</a></li>
  <li><a href="/pagina/elementosxareas">Elementos_A</a></li>
  <li><a href="/pagina/elementosxcuentadantes">Cantidad_E</a></li>
 <li><a href="javascript:void();">Menu</a></li>
</ul>
%>
<div class="menuanimado">
<strong>Menu Estadisticas</strong>
	<ul class="ca-menu">
        <%#<li>
            <a href="">
                <span class="ca-icon">F</span>
                <div class="ca-content">
                    <h2 class="ca-main">Exceptional Service</h2>
                    <h3 class="ca-sub">Personalized to your needs</h3>
                </div>
            </a>
        </li>%>
        <li>
            <a href="/pagina/etraspasos">
                <span class="ca-icon">TxD</span>
                <div class="ca-content">
                    <h2 class="ca-main">Trapasos Hechos Por Dia</h2>
                    <h3 class="ca-sub">Estadisticas De Traspasos</h3>
                </div>
            </a>
        </li>
        <li>
        	<a href="/pagina/elementosxareas">
        		<span class="ca-icon" id="heart">ExA</span>
        		<div class="ca-content">
        			<h2 class="ca-main">Cantidad De Elementos Por Area</h2>
                    <h3 class="ca-sub">Estadisticas De Elementos</h3>
                </div>
            </a>
        </li>
        <li>
        	<a href="/pagina/ereintegros">
            	<span class="ca-icon">RxD</span>
                <div class="ca-content">
                    <h2 class="ca-main">Reintegreos Hechos Por Dia</h2>
                    <h3 class="ca-sub">Estadisticas De Reintegros</h3>
                </div>
            </a>
        </li>
        <%#<li>
            <a href="#">
                <span class="ca-icon">L</span>
                <div class="ca-content">
                    <h2 class="ca-main">Unconditional Support</h2>
                    <h3 class="ca-sub">24/7 for you needs</h3>
                </div>
            </a>
        </li>%>
    </ul>
</div><!-- content -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>