<%= render 'form' %>

<div class="contdiv4">
	<div class="ver_area">
	<%= button_to 'Ver', floor_area_path(@floor,@area), method: "get", class: 'btn btn-info' %>
	</div>
	<div class="atras_indexarea">
	<%= button_to 'Atras', floor_areas_path, method: "get", class: 'btn btn-primary' %>
	</div>
</div>