
<% if @modelo != nil %>
	<% @elementos.each do |elemento| %>
		<% if elemento.area_id == 2 %>
			<div class="sec1">	
			</div>
		<% end %>
		<% break %>
	<% end %>
<% end %>

<% if @modelo != nil %>
	<% @elementos.each do |elemento| %>
		<% if elemento.area_id == 3 %>
			<div class="sec2">
			</div>
		<% end %>
		<% break %>
	<% end %>
<% end %>