<h1 class="centro">Editando Elemento</h1>

<%= render 'form' %>
<div class="contdiv">
	<div class="mo0a1">
	<%= button_to 'Ver', @elemento, method: "get", class: 'btn btn-primary' %>
	</div>
	<div class="mo0a2">
	<%= button_to 'Atras', elementos_path, method: "get", class: 'btn btn-primary' %>
	</div>
</div>