ul {
  list-style: none;
  position: relative;
  text-align: left;
}			
			/*ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
				width: 260px;
			}
			
			.nav li a {
				background-color:#000;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#434343;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			*/
.mo0{
	margin-left: 55px;
	width: 190px;
	text-align: center;
}
.mo0g{
	margin-left: 300px;
	width: 190px;
	text-align: center;
}
.mo0a{
	margin-left: 446px;
	width: 190px;
	text-align: center;
}
.mo0a1{
	margin-left: 422px;
	width: 190px;
	text-align: center;
}
.mo0a2{
	margin-left: 476px;
	margin-top: -34px;
	width: 190px;
	text-align: center;
}
.mov{
	text-align: center;
	margin-top: -93px;
}
.movcedu{
	margin-top: -93px;
	text-align: center;
}
.mov01{
	margin-left: 286px;
	margin-top: -93px;
	width: 202px;
	text-align: center;
}
.mov1{
	margin-left: 520px;
	margin-top: -82px;
	width: 190px;
	text-align: center;
}
.mov2{
	margin-left: 520px;
	margin-top: -90px;
	width: 190px;
	text-align: center;
}
.mov3{
	margin-left: 520px;
	margin-top: -99px;
	width: 190px;
	text-align: center;
}
.mov4{
	margin-left: 296px;
	width: 190px;
	text-align: center;
}
.contdiv{
	margin-top: -40px;
	position: absolute;
}
.tams{
	width: 160px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.colort{
	color: white;
background: #238276;
width: 260px;
text-align: center;
height: 60px;
font-size: 30px;
font-weight: 700;
}
.colort:hover{
	color: white;
	background: #238276;
	width: 260px;
	text-align: center;
	height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.brand{
	color: white;
font-size: 16px;
background: #238276;
width: 1037px;
margin-left: 250px;
height: 70px;
text-align: left;
}
.header{
	margin-left: 730px;
	position: absolute;
	margin-top: 30px;
}
.tam1{
	margin-top: -30px;
	text-align: center;
	margin-top: 0px;
}
.img1{
	margin-top: -5px;
}
.text{
	margin-top: -30px;
	margin-left: 1px;
}
.text1{
	margin-top: -30px;
	margin-left: -5px;
}
.text2{
	margin-top: -30px;
	margin-left: -16px;
}
.text3{
	margin-top: -30px;
	margin-left: 34px;
}
.text4{
	margin-top: -39px;
	margin-left: -5px;
}
.fondc1{
	width: 600px;
	height: auto;
	margin-left: 240px;
	border:2px solid #ddd;
	border-radius: 6px;
	/*overflow-x:hidden;
	overflow-y:scroll;*/
	text-align: center;
	box-shadow: 0px 0px 8px 0px black;
}
.fondc2{
	width: auto;
	height: auto;
	border:2px solid #ddd;
	border-radius: 6px;
	/*overflow-x:hidden;
	overflow-y:scroll;*/
	text-align: center;
	box-shadow: 0px 0px 8px 0px black;
}
.centro{
	text-align: center;
}
.bienvenida{
	text-align: center;
}